<div class="row">
    <form [ng-form-model]="form" (submit)="onLoad(form.value)" class="form-inline github-form">
        <div class="form-group">
            <input type="text" class="form-control" ng-control="username" placeholder="Github Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-control="password" placeholder="Github Password">
        </div>
        <div class="form-group">
            <button [disabled]="!form.valid || isLoading" type="submit" class="btn btn-primary">load repository</button>
        </div>
    </form>
</div>