<div class="container">
    <github-form (load)="onLoad($event)" [is-loading]="isLoading"></github-form>

    <github-error *ng-if="message" [message]="message"></github-error>

    <repository-filter (filter)="onFilter($event)" *ng-if="repositories.length || filterValue"></repository-filter>

    <loading *ng-if="isLoading"></loading>

    <repository-grid (delete)="onDelete($event)" *ng-if="repositories.length || filterValue" [repositories]="repositories" [is-loading]="isLoading"></repository-grid>



</div>