<div class="row repository-grid">

    <table class="table">
        <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                language
            </th>
            <th>
                owner
            </th>
            <th>
                name
            </th>
            <th>
                private
            </th>
            <th>
                fork
            </th>
            <th>
                created at
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ng-for="#repository of repositories">
            <td>{{repository.id}}</td>
            <td>{{repository.language}}</td>
            <td>{{repository.owner}}</td>
            <td><a target="_blank" href="{{repository.html_url}}">{{repository.name}}</a></td>
            <td>
                <i *ng-if="repository.isPrivate" class="glyphicon glyphicon-ok"></i>
                <i *ng-if="!repository.isPrivate" class="glyphicon glyphicon-remove"></i>
            </td>
            <td>
                <i *ng-if="repository.isFork" class="glyphicon glyphicon-ok"></i>
                <i *ng-if="!repository.isFork" class="glyphicon glyphicon-remove"></i>
            </td>
            <td>{{repository.created_at|date:'medium'}}</td>
            <td>
                <button class="btn btn-danger" [disabled]="isLoading || !repository.isAdmin" (click)="onDelete(repository)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>