<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="<%= APP_BASE %>">
  <title>Github Manage for Angular 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>


  <app></app>


  <!-- inject:js -->
  <!-- endinject -->

  <script src="/init.js?v=<%= VERSION %>"></script>

</body>
</html>